.container {
  padding: .5rem 1rem;
}

.albumContainer {
  padding-top: .5rem;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
}

.input {
  width: 10rem;
  padding: 10px;
  background-color: #232C39;
  color: white;
  border: solid 2px;
  /*border: solid 5px #c9c9c9;*/
  /*transition: border 0.3s;*/
}

.input:focus {
  /*border: solid 5px #969696;*/
}

.saveButton {
  color: white;
  background-color: #232C39;
  font-size: 1rem;
  border: solid 2px;
}

.actionItems {
  display: flex;
  justify-content: space-between;
}
